.form {
    background-color: translarent;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    width: 100%;
    max-width: 400px;

    div {
      margin-bottom: 1.5rem;

      label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
        color:  $accent-color;
      }

      input {
        width: 100%;
        padding: 0.75rem;
        border: none;
        border-radius: 4px;
        background-color: #2c2f33;
        color: #ffffff;

        &::placeholder {
          color: #999;
        }
      }
    }

    button {
      width: 100%;
      padding: 0.75rem;
      background-color:  $accent-color;
      color: #000;
      border: none;
      border-radius: 4px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color:  $accent-color;
      }
    }
  }
  .link{
    color: $accent-color;
    display: inline;
  }