.starshipDetail{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: $spacing-l  $spacing-xl;
    position: relative;
    width: 100%;
    height:100%;
    max-width:$breakpoint-lg;
    z-index:20;
    @media (max-width: $breakpoint-sm) {
      padding: $spacing-s;
    }
    h1 {
        text-transform: uppercase;
        font-size: $font-xl;
        margin-bottom: $spacing-xl;
        padding-bottom: 0;
        border-bottom: 1px solid $border-color;
        font-weight: 500;
        letter-spacing: .3rem;
        @media (max-width: $breakpoint-sm) {
          margin-bottom: $spacing-s;
        }
      }
    .starshipContent {
        display: flex;
        gap: $spacing-l;
        position: relative;
        z-index: 2;
        width:70%;
        align-self: end;
        max-width: fit-content;
        @media (max-width: $breakpoint-sm) {
            width:100%;
            align-self: center;
        }
        
    }
    .shipDetails {
        flex: 1;
        background-color: $panel-bg;
        border-radius: $radius;
        padding:  $spacing-xl $spacing-header;
        @media (max-width: $breakpoint-md) {
          padding:  $spacing-s $spacing-s;
        }

        h2 {
          font-size: $font-xl;
          margin-bottom: $spacing-l;
          color:  $text-color;
          text-transform: uppercase;
        }
        
        p {
          margin-bottom: $spacing-s;
          font-size: $font-s;
          color: $text-color-secondary;
        }
        h3 {
          font-size: $font-s;
          color:  $text-color-secondary;
          margin-bottom: 5px;
        }
    }
    .specs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $spacing-double;
        margin-top: $spacing-base;
        @media (max-width: $breakpoint-md) {
            grid-template-columns: repeat(1, 1fr);
            gap: $spacing-s;
        }
        .specGroup {
          h3 {
            font-size: $font-s;
            color:  $text-color-secondary;
            margin-bottom:  $spacing-p;
          }
          
          p {
            font-size: $font-s;
            margin-bottom:  $spacing-p;
          }
        }
    }
    
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/images/starship.png');
    background-size: cover;
    background-position: right top;
    opacity: 0.3;
    z-index: 10;
    filter: grayscale(1);
  }