//Header

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding: $spacing-base $spacing-double;
    margin: $spacing-base auto ;
    height: $head-height;
    max-width: $breakpoint-xl;
  
    @media (min-width: $breakpoint-sm) {
      justify-content: flex-end;
    }
    @media (max-width: $breakpoint-sm) {
      padding: $spacing-s $spacing-s;
      margin: 0 auto
    }
  }
  .logo {
      
      height: auto;
      @media (min-width: $breakpoint-sm) {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      img {
        width: 100%;
        height: auto;
        max-width: 150px;
        margin:0 auto;
        @media (max-width: $breakpoint-sm) {
          max-width: 100px;
        }
      }
    }
    .auth {
      display: flex;
      gap: $spacing-p;
      flex-direction: column;
      align-items: flex-end;
      justify-self: self-end;
      max-height: 70px;
      .wname{
        color:$accent-color;
        max-width: 300px;
        overflow: hidden;
        font-size: $font-s;        
        font-weight: 600;      
        letter-spacing: 0.05em;     
        white-space: nowrap;   
        
        @media (max-width: $breakpoint-sm) {
          text-align: right;
          font-size:$font-base;
        }
      }
      .link {
        color: $text-color-secondary;
        text-decoration: none;
        text-transform: uppercase;
        font-size: $font-s;
        letter-spacing: 1px;
        transition: color 0.2s ease;
        font-weight: 600;
        white-space: nowrap;
        &:hover {
          color: $text-color;
        }
        @media (max-width: $breakpoint-sm) {
            text-align: right;
            font-weight: 600;
            margin-top: 2px;
            font-size: $font-base;
          }
        
      }
    }