
.card {
    background-color: $color-card;
    color: $color-primary;
    padding: 1rem;
    border-radius: 0.25rem; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1),
                0 1px 2px rgba(0, 0, 0, 0.06);
    transition: all 0.2s ease-in-out;
    cursor:pointer;
  
    &:hover {
      background-color: $color-surface;
    }
    h2{
        font-size: 1.125rem; 
        font-weight: 700;   
        text-transform: uppercase;
    }
    p {
        color: $color-secondary;  // Tailwind 'text-secondary'
        font-size: 0.875rem;       // Tailwind 'text-sm'
      }
  }