
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-surface;
    border-bottom: 1px solid $color-border;
    color: $color-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $spacing-header; 
    padding-left: 1.5rem; 
    padding-right: 1.5rem;

}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; 
    padding:10px 0;
    img {
        height: auto;
        max-height: 100%;
    }
    @media (max-width: $breakpoint-sm) {
   
    
            height: 100px;
        
      }
  }
 