
@import "https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap";
@import "tailwindcss";
@import './assets/styles/theme.css'; 

/* HTML */
body {
  @apply bg-background text-primary font-franklin antialiased leading-relaxed;
}
h1 {
  @apply text-4xl font-bold mb-4 md:text-left text-center;
}
h2 {
  @apply text-4xl font-semibold mb-5 md:text-left text-center;
}
h3 {
  @apply text-3xl font-semibold mb-5 md:text-left text-center;
}
h4 {
  @apply text-xl font-medium mb-2 md:text-left text-center;
}
button{
  @apply cursor-pointer transition shadow 
}

/* Layout */
.container {
  @apply max-w-7xl mx-auto px-4;
}
.sticky {
  @apply fixed top-0 w-full
}

/* Modals */
.modal-overlay {
  @apply fixed inset-0 bg-black/80 flex items-center justify-center z-50;
}
.modal {
  @apply bg-white rounded-radius shadow-lg max-w-lg w-full p-6 relative text-center;
}
.modal-header {
  @apply text-xl font-semibold mb-4;
}
.modal-body {
  @apply text-gray-700 mb-4;
}
.modal-footer {
  @apply flex justify-end gap-2;
}
.modal-close {
  @apply absolute top-4 right-4 text-gray-500 hover:text-gray-700 cursor-pointer;
}

/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-weight: 400;
  margin: 0;
  padding: 0;
  border: 0;
  text-rendering: optimizeLegibility;
}
button, a, Link {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  width: fit-content;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=number].no-spinner::-webkit-outer-spin-button,
input[type=number].no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}