// mixins.scss
  @mixin heading($size, $weight, $mb, $lh: normal) {
    font-size: $size;
    font-weight: $weight;
    margin-bottom: $mb;
    line-height: $lh;
  }
  
  @mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @mixin transition {
    transition: all 0.2s ease-in-out;
  }
  @mixin soft-box-shadow {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  }