//colores
    $background-color: #0d0d0d;
    $surface-color: #1a1a1a;
    $card-background: #262626;
    $color-primary: #ffffff;
    $color-secondary: #c0c0c0;
    $accent-color: #0066ff;
    $border-color: #333333;
    $panel-bg: rgba(37, 36, 36, 0.8);
    $border-color-dark:rgba(255, 255, 255, 0.1);
    $text-color: $color-primary;
    $text-color-secondary: rgba(255, 255, 255, 0.7);
  
    // Fonts
    $font-franklin: 'Libre Franklin', sans-serif;
    $font-base: 16px;
    $font-l: 18px;
    $font-xl: 24px;
    $font-s: 15px;

    //Sizing
    $header-height: 90px;
    $nav-height: 50px;
    
    // Spacing
    $spacing-base: 20px;
    $spacing-p: 5px;
    $spacing-s: 15px;
    $spacing-l: 25px;
    $spacing-xl: 40px;
    $spacing-header: 80px;
    $spacing-card: 16px;
    
    // Border radius
    $radius: 5px;
    
    // Breakpoints
    $breakpoint-sm: 540px;
    $breakpoint-md: 768px;
    $breakpoint-lg: 1024px;
    $breakpoint-xl: 1280px;

    //Misc


