@use "tailwindcss" as *;
@use "./reset.scss" as *;
@import "https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap";

// ------------------------------
// HTML Elements
// ------------------------------
body {
  background-color:$background-color;
  font-family: $font-franklin;
  color:$color-primary;
  min-height: 100vh;
  font-weight: 400;
  margin: 0;
  padding: 0;
  border: 0;
  text-rendering: optimizeLegibility;
  line-height: 1.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main.mtop{
  margin-top: 180px;
  z-index:1;
  position:relative;
  @media (max-width: $breakpoint-sm) {
    margin-top: 140px;
  }
}
h1 {
  @include heading(2.25rem, 700, 1.5rem, 2.8rem);
}

h2 {
  @include heading(2.25rem, 600, 1.25rem);
}

h3 {
  @include heading(1.875rem, 600, 1.25rem);
}

h4 {
  @include heading(1.25rem, 500, 0.5rem);
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }
}
button {
  cursor: pointer;
  @include transition;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  gap: 0.5rem;
  border-radius: 0.5rem;
}
  

// ------------------------------
// Layout
// ------------------------------
.container {
    max-width: $breakpoint-xl;      
    margin-left: auto;     
    margin-right: auto;
    padding-left: $spacing-base;    
    padding-right: $spacing-base;
   
    &.xs{
      max-width: $breakpoint-md;  
    }
    &.fluid{
      max-width:100%;
      padding-left: 0;    
      padding-right: 0;
    }
    &.wrap{
      @apply flex flex-wrap items-center
    }
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

