@use "tailwindcss" as *;
@use "./reset.scss" as *;
@import "https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap";

// ------------------------------
// HTML Elements
// ------------------------------
body {
  background-color:$background-color;
  font-family: $font-franklin;
  color:$color-primary;
  min-height: 100vh;
  font-weight: 400;
  margin: 0;
  padding: 0;
  border: 0;
  text-rendering: optimizeLegibility;
  line-height: 1.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1 {
  @include heading(2.25rem, 700, 1.5rem, 2.8rem);
    @media (max-width: 768px) {
      @include heading(1.8rem, 700, 1rem, 1.8rem);
    }
}

h2 {
  @include heading(2.25rem, 600, 1.25rem);
    @media (max-width: 768px) {
      @include heading(1.7rem, 700, 1rem, 1.7rem);
    }
}

h3 {
  @include heading(1.875rem, 600, 1.25rem);
    @media (max-width: 768px) {
      @include heading(1.6rem, 700, 1rem, 1.6rem);
    }
}

h4 {
  @include heading(1.25rem, 500, 0.5rem);
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }
}
  
.detailsTitle {
    text-transform: uppercase;
    font-size: $font-xl;
    margin-bottom: $spacing-xl;
    padding-bottom: 2px;
    border-bottom: 1px solid $border-color;
    font-weight: 500;
    letter-spacing: .3rem;
    @media (max-width: $breakpoint-sm) {
      margin-bottom: $spacing-s;
      text-align: center;
      
    }
  }
  .error-message{
    color: $error-message;
    margin-top: 0.25rem;
    font-size: 0.85rem;
    font-weight:600;
  }
// ------------------------------
// Layout
// ------------------------------
.container {
    max-width: $breakpoint-xl;      
    margin-left: auto;     
    margin-right: auto;
    padding-left: $spacing-base;    
    padding-right: $spacing-base;
   
    &.md{
      max-width: $breakpoint-md;  
    }
    &.xs{
      max-width: $breakpoint-sm;  
    }
    &.fluid{
      max-width:100%;
      padding-left: 0;    
      padding-right: 0;
    }
    &.wrap{
      @apply flex flex-wrap items-center
    }
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  main.mtop{
    margin-top: 200px;
    z-index:1;
    position:relative;
    @media (max-width: $breakpoint-sm) {
      margin-top: 140px;
    }
  }