.form {
    background-color: transparent;
    padding: $spacing-base;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    @include soft-box-shadow;
    div {
      margin-bottom: $spacing-l;
      label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
        color:  $accent-color;
      }
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-internal-autofill-selected {
      -webkit-box-shadow: 0 0 0px 1000px $input-color inset;
      -webkit-text-fill-color: #ffffff;
      transition: none;
      background-color:  transparent;
    }
    input:focus-visible, input:focus{
      border: 0;
      outline: 1px solid $accent-color;
    }
  }

  .link{
    color: $accent-color;
    display: inline;
  }